#!/bin/bash -l

sshcommand="ssh -i $HOME/.ssh/id_rsa_OFP"
hostname="c24140@ofp.jcahpc.jp"
SCALEDIR_OFP="/work/hp150019/share/SCALE-LETKF-rt"
#SCALEDIR_OFP="/work/jh200062/share/SCALE-LETKF-rt"

DATADIR="$mydir/../data"

sshagent="${HOME}/ssh-agent-log.sh"

if [ -f $sshagent ];then
   source $sshagent
else
   echo "WARN: ssh-agent is not running."
fi


