*.swp
*.o
*.mod
*.pyc
*.lst
*.log
log*
*~
/*/tmp
/*/configure.user
/*/common/datetime
/*/common/pdbash
/*/run/config.main
/*/run/config.main.K
/*/run/config.main.ofp
/*/run/config.cycle
/*/run/config.fcst
/*/run/config.nml.ensmodel
/*/run/config.nml.scale_pp*
/*/run/config.nml.scale_init*
/*/run/config.nml.grads_boundary
/*/run/config.nml.scale*
/*/run/config.nml.scale_user
/*/run/config.nml.obsope
/*/run/config.nml.letkf*
/*/run/cycle_job.sh
/*/run/fcst_job.sh
/*/run/machinefile
/*/run/mpd.hosts
/*/run/png/*
/*/run/cycle_*.[e,i,s,o][0-9]*
/*/run/fcst_*.[e,i,s,o][0-9]*
/*/run/exp
/*/run/*.stat*
/*/run/*.log*
/*/letkf/letkf
/*/obs/obsmake
/*/obs/obsope
/*/obs/obssim
/*/obs/dec_prepbufr
/*/ensmodel/scale-rm_pp_ens
/*/ensmodel/scale-rm_init_ens
/*/ensmodel/scale-rm_ens
