*.swp
*.o
*.mod
*.pyc
*.lst
*.log
log*
*~
scale/tmp
scale/configure.user
scale/common/datetime
scale/common/pdbash
scale/common/*__genmod.f90
scale/run*/config.main
scale/run*/config.main*
scale/run*/config.cycle
scale/run*/config.fcst
scale/run*/config.nml.ensmodel
scale/run*/config.nml.scale_pp*
scale/run*/config.nml.scale_init*
scale/run*/config.nml.grads_boundary
scale/run*/config.nml.scale*
scale/run*/config.nml.scale_user
scale/run*/config.nml.obsope
scale/run*/config.nml.letkf*
scale/run*/cycle_job.sh
scale/run*/fcst_job.sh
scale/run*/machinefile
scale/run*/mpd.hosts
scale/run*/png/*
scale/run*/cycle_*.[e,i,s,o][0-9]*
scale/run*/fcst_*.[e,i,s,o][0-9]*
scale/run*/exp
scale/run*/*.stat*
scale/run*/*.log*
scale/run*/sno_bulk*.sh
scale/run_d1_ext/post/post.log*
scale/run_d1_ext/post/plot_grads/plot.lock
scale/run_d1-2/post/post.log*
scale/run_d1-2/post/plot_grads/plot.lock
scale/run_d3/plot/plot_temp/*
scale/run_d3/plot/draw_uvw
scale/run_d3/plot/draw_dbz
scale/run_d3/plot/draw_rain
scale/run_d1_init
scale/run_gefs
scale/run_light
scale/run_light_2
scale/letkf/letkf
scale/obs/obsmake
scale/obs/obsope
scale/obs/obssim
scale/obs/dec_prepbufr
scale/ensmodel/scale-rm_pp_ens
scale/ensmodel/scale-rm_init_ens
scale/ensmodel/scale-rm_ens
scale/ensmodel/scale-rm_pp_ens_single
scale/ensmodel/scale-rm_init_ens_single
scale/ensmodel/scale-rm_ens_single
